.advantages {
  background-color: $color-default-white;
}

.advantages__container {
  padding-top: 120px;
  margin-bottom: 120px;

  @include vp-1023 {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  @include vp-767 {
    padding: 50px 25px;
    margin-bottom: 50px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  max-width: 1222px;

  @include vp-1023 {
    max-width: 670px;
  }

  @include vp-767 {
    min-width: 270px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  max-width: 595px;
  padding: 40px 45px 35px;
  list-style-type: none;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  cursor: pointer;
  transition: background-color 0.4s ease-in;

  &:hover {
    background-color: $color-deep-sky-blue;
    transition: background-color 0.2s ease-in;
  }

  &:hover h3,
  &:hover p {
    fill: $color-alice-blue;
    color: $color-alice-blue;
    transition: color 0.2s ease-in;
  }

  &:hover svg {
    fill: $color-alice-blue;
    transition: fill 0.2s ease-in;
  }

  @include vp-1023 {
    min-width: 100%;
    padding: 40px 30px 35px 45px;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.advantages__item h3 {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-style: normal;
  color: $color-deep-sky-blue;
  margin: 0;
  margin-bottom: 15px;
  transition: color 0.4s ease-in;

  @include vp-767 {
    font-size: 20px;
    line-height: 33px;
  }
}

.advantages__item p {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  color: $color-black-pearl;
  margin: 0;
  transition: color 0.4s ease-in;

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.advantages__item span {
  display: inline-block;
  width: 35px;
  height: 35px;
  order: -1;
  margin-bottom: 20px;
}

.advantages__item svg {
  fill: $color-deep-sky-blue;
  transition: fill 0.3s ease-in;
  
  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}
