.header {
  // background-color: $color-black-pearl;
  background: linear-gradient(180deg,#041827 84.9%,rgba(4,24,39,0) 100%);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  max-width: 1160px;
  
  @include vp-1023 {
    padding: 20px 70px 25px 50px;
  }

  @include vp-767 {
    padding: 10px 35px 20px 26px;
  }
}

.header__contacts span {
  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    
  }
}

.header__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  letter-spacing: .05em;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    
  }
}
