.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  max-height: 30px;
  margin-top: 30px;
  margin-left: 10px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    
  }
}

.social__item--pin {
  @include vp-1023 {
    order: -2;
  }

  @include vp-767 {
    
  }
}

.social__link {
  width: 30px;
  height: 30px;
}

.social__link svg {
  fill: $color-alice-blue-lg;
}

